.wrapper__login {
    width: 100%;
    background-image: url("../assets/bg_auth.jpg");
}

.login-page {
    width: 360px;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.80);
    max-width: 360px;
    height: 600px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    background: none;
    width: 246px;
    margin-top: 26px;
    padding: 19px 16px;
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    color: #fff;
}

.message {
    margin-top: 15px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.5px;
}

.message_auth {
    color: #F5CF49;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 126.316% */
    letter-spacing: 0.5px;
    text-decoration-line: underline;
}

.form__button {
    width: 280px;
    min-height: 50px;
    margin-top: 26px;
    padding: 6px 128.41px 7.5px 107.59px;
    border-radius: 8px;
    border: 2px solid #F5CF49;
    background: none;

    color: #FFF;
    /*text-align: center;*/
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 37.5px; /* 163.043% */
    text-transform: uppercase;
}

.form__button:hover {
    border: 2px solid #A958A5;
    cursor: pointer;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.form__login_image {
    margin-top: 100px;
}

.form__title_underImage {
    margin-top: 12px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 37px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 129.73% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

