h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.wrapper{
    width: 100%;
    height: 700px;
    background: url("../assets/banner-img-3.png"), lightgray 0px 0px / 100% 100% no-repeat;
}

.wrapper__banner{
    display: flex;
    padding: 50px 300px;
}

.wrapper__banner__title{
    color: #FFF;
    font-family: Inter;
    font-size: 76px;
    font-style: normal;
    font-weight: 500;
    line-height: 88px; /* 115.789% */
    letter-spacing: 1.5px;
}

.wrapper__banner__subtitle{
    color: #FFF;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 157.895% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.tags{
    display: flex;
    margin-top: 20px;
}

.tags span{
    padding: 2px 12.08px 2px 12px;

    border-radius: 5px;
    border: 2px solid #B4B4B4;

    color: #B4B4B4;

    transition: .3s ease-in;
    cursor: pointer;
}

.tags span:hover{
    border-radius: 5px;
    border: 2px solid #F5CF49;

    background: #F5CF49;
    color: black;
}

.tags span:nth-child(2){
    margin-left: 10px;
}

.tags span:last-child{
    margin-left: 10px;
}

.wrapper__banner__date p{
    margin-top: 10px;

    color: #FFF;

    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 155.172% */
    letter-spacing: 0.5px;
}

.wrapper__description{
    margin-top: 21px;

    color: #D4D4D4;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    letter-spacing: 0.5px;
}

.wrapper__banner__btn{
    margin-top: 30px;

    width: 308px;
    height: 70px;

    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 129.73% */
    letter-spacing: 0.5px;

    border-radius: 10px;
    border: 2px solid #F5CF49;

    background: rgba(17, 17, 17, 0.50);
    color: white;

    transition: .7s ease;
}

.wrapper__banner__btn:hover{
    background: #F5CF49;
}

.wrapper__banner__img{
    margin-left: 120px;
}

@media (max-width: 501px){
    .wrapper__banner {
        padding: 50px 37px;
    }

    .wrapper__banner__title {
        font-size: 36px;
    }

    .wrapper__banner__subtitle{
        font-size: 18px;
        margin-top: -24px;
    }

    .tags {
        display: flex;
        margin-left: 2px;
        margin-top: 0px;
    }

    .wrapper__banner__btn{
        width: 216px;
        font-size: 21px;
    }

    .wrapper__banner__img img{
        display: none;
    }
}